<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774651767944-mfnrp3533gse1bgrppr7sph04rfmnd0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774651767944-mfnrp3533gse1bgrppr7sph04rfmnd0k</string>
	<key>API_KEY</key>
	<string>AIzaSyC_zdjWfNUHy6Xe6mm9oagaqSlnAl0_N6o</string>
	<key>GCM_SENDER_ID</key>
	<string>774651767944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peternathaniel49.notes</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-bynath</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-bynath.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774651767944:ios:c2f4c9a39a7c445c16033d</string>
</dict>
</plist>